.section-form {
    border: none!important;
    padding-top: 0px!important;
    padding-left: 35px!important;
}

.section-form label {
    padding-right: 5px;
}

.section-form div.error {
    padding-left: 50px;
    color: red;
}

#social-container {
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#social-container a {
    position: relative;
    margin: 0 auto;
    text-decoration: none;
    margin-left: 4px;
    display: block;
    width: 200px;
    height: 15px;
    padding-top: 8px;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 7px;
}

#social-container a .icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 7px;
}

#social-container a.twitter .icon {
    background: url(images/twitter-small.gif);
}

#social-container a.facebook .icon {
    background: url(images/facebook-small.png);
}

#social-container a.google .icon {
    background: url(images/google-small.png);
}

#social-container a img {
    z-index: 20;
    position: relative;
}

#social-container a:hover .active-bg {
    width: 41px;
    height: 41px;
    display: block;
    position: absolute;
    margin: 3px;
    z-index: 10;    
}

.active-bg.tw {
   background: #9AE4E8; 
}

.active-bg.fb {
   background: #4C66A4; 
}

.active-bg.gg {
   background: #d34836; 
}

#remember-container {
    margin-top: 5px;
    margin-left: 5px;
    position: relative;
}